* {
	margin: 0px;
	padding: 0px;
	font-family: 'Glegoo', sans-serif;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
	font-size: 1rem;
}
main {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/* Preloader */
section#preloader-section {
	height: auto;
	width: 100%;
	background-color: #fff;
	overflow: hidden;
	display: block;
	position: fixed;
	z-index: 10;
}
section#preloader-section div.container {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.preloader {
	z-index: 15;
	border: 16px solid #fff;
  	border-bottom: 16px solid #38b000;
  	border-top: 16px solid #38b000;
  	border-radius: 50%;
  	width: 120px;
  	height: 120px;
  	animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Navigation Bar */
nav.navbar {
	transition: 0.5s ease-in;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}
button#navbar-toggler {
	outline: none;
}
img.logo {
	height: 50px;
	width: auto;
}
li.nav-item {
	position: relative;
}
a.nav-link {
	font-weight: bold;
}
a.nav-link:hover {
	color: #000;
}
.dropdown-menu {
	transition: all 0.5s ease; 
  	display: none;
}
.dropdown:hover .dropdown-menu {
	display: block;
	transition: all 0.5s ease; 
}

/* Home Section */
section#home-section {
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)),url("../images/home-bgimg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
section#home-section div.container {
	padding-top: 13%;
	padding-bottom: 5%;
}
div.services-card {
	position: relative;
	outline: none;
	border-radius: 0px;
	background-color: #fff;
	z-index: 1;
	border-radius: 5px;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
}

/* Footer */
footer {
	height: auto;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid rgba(0,0,0,0.3);
}
a.footer-social-media {
	border-radius: 50px;
}

@media (max-width: 767px) {
	* {
		font-size: 0.9rem;
	}
	section#home-section div.container {
		padding-top: 30%;
		padding-bottom: 15%;
	}
}